:root {
    --primary-color: #552525;
    --secondary-color: #e59b30;
    --line-color: #e1a600;
}

body {
    margin: 0;
    font-family: "Arimo", sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: #9FAFBF !important;
}

.navbar-vertical.navbar-expand-xs {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-x: hidden;
    padding: 0;
    box-shadow: none;
}

/* custom scroll */
.navbar-vertical.navbar-expand-xs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.navbar-vertical.navbar-expand-xs::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.navbar-vertical.navbar-expand-xs::-webkit-scrollbar-thumb {
    background-color: #9fafbf;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    /* overflow: auto; */
    /* height: calc(100vh - 360px); */
}

.navbar-vertical.navbar-expand-xs > [class*="container"] {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
}

/*  */

#sidenavMain {
    /* kenapa animasinya hanya berjalan sekali */
    transition: all 0.3s ease;
}

main {
    transition: all 0.5s ease;
    transition-delay: 0.3s;
}

.sidenav .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-inline: 2rem;
}

.sidenav .navbar-brand,
.sidenav .navbar-heading {
    display: block;
}

.navbar .navbar-brand {
    color: #344767;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active {
    color: #fff;
    background-color: #552525;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.dropdown {
    color: #9FAFBF;
    background-color: white;
    box-shadow: none;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.dropdown.active {
    color: var(--primary-color);
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.dropdown.active:hover {
    color: var(--primary-color) !important;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.dropdown:hover {
    color: #9FAFBF !important;
    background-color: white;
    box-shadow: none;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.dropdown:hover span {
    font-weight: 600;
}


.navbar-vertical .navbar-nav .nav-link.active {
    font-weight: 600;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: inset -5px 0px 0px 0px #e59b30;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding-top: 0.675rem;
    padding-bottom: 0.675rem;
    margin-left: 1rem;
}

.navbar-vertical .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar-vertical .navbar-nav .nav-link,
.dropdown-item {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    color: #9fafbf;
}

.navbar .nav-link {
    color: #344767;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    margin-block: 0.2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.sidebar .navbar-nav .nav-item .nav-link {
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.sidebar .navbar-nav .nav-item .nav-link:hover {
    background-color: #552525;
    color: white !important;
    box-shadow: inset -5px 0px 0px 0px #e59b30;
    font-weight: 600;
}

.nav-link-text,
nav h6,
nav span {
    font-family: "Poppins", sans-serif;
}

.nav-link-text,
.dropdown-menu {
    font-size: 112.5%;
}

.icon-sm {
    width: 32px;
    height: 32px;
}

.fa.fa-bars {
    font-size: 28px;
    font-weight: 100 !important;
}

nav .fa {
    font-weight: 600;
    color: #33363f;
}

/* Assesment Start */
#tabs-profil {
    position: relative; /* Mengatur posisi relatif */
    z-index: 1; /* Set z-index lebih rendah */
}

#tabs-profil .nav-item .nav-link {
    background-color: #ddc6c6;
    color: #2b2b28;
    font-weight: 600;
    padding-block: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    width: 160px;
}

#tabs-profil .nav-item .nav-link:hover {
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    transition: all 0.3s ease;
}

#tabs-profil .nav-item .nav-link.active {
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
}

.tab-pane .content-profil,
.tab-pane .content-kontak,
.tab-pane .content-ubah-password,
.content-kontak-form {
    border-radius: 20px;
    background-color: white;
    position: relative !important;
    z-index: 0 !important;
}

.tab-pane .content-site-evaluation {
    border-radius: 20px;
    background-color: white;
    position: relative !important;
    z-index: 0 !important;
}

.tab-pane .content-profil,
.tab-pane .content-kontak,
.tab-pane .content-ubah-password,
.tab-pane .content-site-evaluation,
.content-kontak-form {
    padding-inline: 70px;
}

hr {
    border: none;
    height: 20px;
    background-color: var(--secondary-color);
    opacity: 100;
    border-radius: 50px;
    margin-block: -10px !important;
    position: relative; /* Mengatur posisi relatif */
    z-index: 2;
}

.content-profil img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid #c17d2d;
}



.content-profil button,
.modal-footer button,
a.btn {
    font-size: 100%;
    font-weight: 600;
    background-color: var(--primary-color);
    color: white;
    border-radius: 15px;
    border: 3px solid #c17d2d;
    width: 15%;
}

.content-profil button:hover,
.modal-footer button:hover,
a.btn:hover {
    font-size: 100%;
    font-weight: 700;
    color: #c17d2d;
    border-radius: 15px;
    border: 3px solid #c17d2d;
    transition: all 0.3s ease;
}

a.btn.nonactive {
    font-size: 100%;
    font-weight: 600;
    background-color: white;
    color: #c17d2d;
    border-radius: 15px;
    border: 3.5px solid #c17d2d;
    width: 15%;
}

a.btn.nonactive:hover {
    font-size: 100%;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease;
}

.modal-footer button {
    width: 20% !important;
}

.modal-footer div.nonactive {
    width: 20% !important;
}

.content-profil button.edit {
    font-size: 100%;
    font-weight: 700;
    background-color: white;
    color: #c17d2d;
    border-radius: 15px;
    border: 3px solid #c17d2d;
}

.content-profil button.nonactive {
    font-weight: 600;
    background-color: white;
    color: #c17d2d;
    border-radius: 15px;
    border: 3.5px solid #c17d2d;
    width: 15%;
}

.content-profil button.nonactive:hover {
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease;
}


.content-profil div.nonactive,
.modal-footer div.nonactive {
    font-weight: 600;
    background-color: white;
    color: #c17d2d;
    border-radius: 15px;
    border: 3px solid #c17d2d;
    width: 15%;
}

.content-profil div.nonactive:hover,
.modal-footer div.nonactive:hover {
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease;
}

.content-profil span {
    color: #9fafbf;
}

h6 {
    font-weight: bold;
}

.content-site-evaluation span {
    color: #9fafbf;
    font-size: 112.5%;
    font-weight: bold;
}

input,
textarea {
    font-family: "Arimo", sans-serif !important;
}

.form-control,
.form-select,
textarea,
span.select2-selection  {
    border: 1px solid #9fafbf !important;
    border-radius: 15px !important;
    font-family: "Arimo", sans-serif;
}

span.select2-selection {
    padding-left: 24px !important;
    font-size: 100% !important;
}

select.form-select-lg {
    font-size: 100% !important;
}

span.select2-selection__placeholder {
    color: #9FAFBF !important;
    font-size: 100% !important;
}

#inputFileDocument,
#inputGroupFile1,
#inputGroupFile2,
#inputGroupFile3 {
    width: 90px;
    color: transparent !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form-control.unik {
    border: 1px solid #9fafbf;
    border-left: none;
    border-radius: 15px;
    font-family: "Arimo", sans-serif;
}

.custom-file-button {
    border-radius: 15px;
}

.custom-file-button input[type="file"] {
    margin-left: -2px !important;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type="file"]::file-selector-button {
    display: none;
}

.custom-file-button input[type="file"]:focus {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    outline: none !important;
    border: 1px solid #c17d2d !important;
    box-shadow: 0px 0px 1px 2px #e59b30 !important;
}

.custom-file-button label:hover {
    cursor: pointer;
}

.custom-file-button label {
    font-size: 112.5%;
    color: #595959;
    background-color: #d7dae3;
    border-left: 1px solid #9fafbf;
    border-right: none;
    border-top: 1px solid #9fafbf;
    border-bottom: 1px solid #9fafbf;
    border-radius: 15px;
}

.custom-file-button label.label-unik {
    font-size: 100%;
    color: #9fafbf;
    background-color: transparent;
    padding-inline: 40px;
    display: flex;
    align-items: center;
}

.input-group-append {
    cursor: pointer;
}

#msform {
    position: relative;
}

.content-profil .fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.content-profil .fieldset:not(:first-of-type) {
    display: none;
}

.fieldset h5,
.fieldset h6 {
    font-weight: bold;
}

.fieldset a:hover {
    border: 1px solid var(--secondary-color) !important;
    background-color: var(--primary-color);
    color: white !important;
    transition: all 0.3s ease;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: #673ab7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
    color: #673ab7;
    font-weight: normal;
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

.fieldlabels {
    color: gray;
    text-align: left;
}

#progressbar {
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    color: #ddc6c6;
}

#progressbar .active {
    color: var(--primary-color);
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 35%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #account:before {
    content: "1";
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 137.5%;
}

#progressbar #personal:before {
    content: "2";
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 137.5%;
}

#progressbar #payment:before {
    content: "3";
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 137.5%;
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: #ddc6c6;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #ddc6c6;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: var(--primary-color);
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: var(--secondary-color);
}

.fit-image {
    width: 100%;
    object-fit: cover;
}
/* Assesment End */

/* Form assesment */
table button {
    width: auto !important;
    border: none !important;
    font-size: 100% !important;
}

table button:hover {
    color: white !important;
    transition: all 0.3s ease;
}

table button.btn-hapus {
    background-color: #d12b2b !important;
    width: 70px !important;
}

.table thead tr th,
.table tbody tr td {
    vertical-align: middle;
}

table button.btn-ubah,
    a.btn-ubah,
    button.btn-tambah {
    background-color: #e59b30 !important;
    border: none;
    width: 70px !important;
}

table a.btn-ubah:hover {
    background-color: #e59b30 !important;
    border: none !important;
    color: white;
}

button.btn-tambah:hover {
    background-color: #e59b30 !important;
    color: white;
    border: none;
}

th,
td {
    padding-block: 20px !important;
    border: none;
}

/* Set border-radius on the top-left and bottom-left of the first table data on the table row */
td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}

/* Set border-radius on the top-right and bottom-right of the last table data on the table row */
td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}

tbody tr:nth-child(odd) {
    background-color: #fff3f3;
}
/* Form assesment end */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

/* dropdown menu */
.dropdown-menu {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    width: auto;
    font-family: "Poppins", sans-serif;
    animation: fadeIn 0.3s ease forwards;
}

.dropdownMenu-hidden {
    animation: fadeOut 0.3s ease forwards;
}

/* main content */

/* main content end */

@media (min-width: 1200px) {
    .sidenav:hover {
        max-width: 15.625rem;
    }

    .sidenav .sidenav-toggler {
        padding: 1.5rem;
    }

    .sidenav.fixed-start ~ .main-content {
        margin-left: 17.125rem;
    }

    .sidenav.fixed-end ~ .main-content {
        margin-right: 17.125rem;
    }
}

/* Assignment */
.modal-header h1 {
    font-family: "Poppins", sans-serif;
    font-size: 150%;
    font-weight: 600;
}

.modal-body h6 {
    font-size: 112.5%;
    font-weight: 600;
}

.modal-body input::placeholder,
.modal-body textarea::placeholder {
    color: black;
}

/* Pagination */
.pagination .page-item .page-link {
    color: #552525;
    background-color: #fff;
    border-color: #552525;
}

.pagination .page-item .page-link:hover {
    color: #fff;
    background-color: #552525;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #552525;
}
/* End Pagination */

/* Assignment End */
/* Pertanyaan */
.pertanyaan-container div.kategori {
    width: 360px;
    background-color: #ddc6c6;
    border-radius: 10px;
    z-index: 2;
}

h3 {
    font-family: "Arimo", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 125%;
    margin: 0;
    padding: 0;
}

hr.garis-tambah {
    height: 1px; 
    background-color: #CC9305;
    padding: 0;
    flex: 1 1 auto;
}

.pertanyaan-container div.pertanyaan {
    padding-inline: 100px;
    padding-block: 40px;
    margin-top: -35px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pertanyaan-container div.pertanyaan p {
    padding-top: 10px;
    font-size: 137.5%;
}

/* Jawaban */
.form-select.kategori_pertanyaan {
    background-color: #e59b30 !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
    border: none;
    color: white !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 127.5% !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    width: 20%;
    padding-block: 5px !important;
}

.kategori_pertanyaan_single {
    background-color: #e59b30 !important;
    border: none;
    color: white !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 127.5% !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    width: 20%;
    padding-block: 5px !important;
}

.form-select {
    background-color: white;
}

.jawaban label {
    flex: 0 1 calc(48%);;
    border: 1px solid #9fafbf;
    border-radius: 10px;
    font-size: 125%;
    cursor: pointer !important;
    transition: background-color 0.3s ease;
}

.jawaban-banyak label {
    border: 1px solid #9fafbf;
    border-radius: 10px;
    font-size: 125%;
    cursor: pointer !important;
    transition: background-color 0.3s ease;
}

.jawaban div div {
    border: 1px solid #9fafbf;
    border-radius: 10px;
    font-size: 125%;
}

.jawaban div label {
    border: 1px solid #9fafbf;
    border-radius: 10px;
    font-size: 125%;
    cursor: pointer !important;
}

.jawaban .active {
    background-color: #E9ECFA;
}

/* CSS Kalender Start */
.flatpickr-calendar{animation:none;background:transparent;background:#fff;border:0;border-radius:5px;box-shadow:1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,.08);box-sizing:border-box;direction:ltr;display:none;font-size:14px;line-height:24px;opacity:0;padding:0;position:absolute;text-align:center;touch-action:manipulation;visibility:hidden;width:307.875px}.flatpickr-calendar.inline,.flatpickr-calendar.open{max-height:640px;opacity:1;visibility:visible}.flatpickr-calendar.open{display:inline-block;z-index:99999}.flatpickr-calendar.animate.open{animation:fpFadeInDown .3s cubic-bezier(.23,1,.32,1)}.flatpickr-calendar.inline{display:block;position:relative;top:2px}.flatpickr-calendar.static{position:absolute;top:calc(100% + 2px)}.flatpickr-calendar.static.open{display:block;z-index:999}.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7){box-shadow:none!important}.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1){box-shadow:-2px 0 0 #e6e6e6,5px 0 0 #e6e6e6}.flatpickr-calendar .hasTime .dayContainer,.flatpickr-calendar .hasWeeks .dayContainer{border-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0}.flatpickr-calendar .hasWeeks .dayContainer{border-left:0}.flatpickr-calendar.hasTime .flatpickr-time{border-top:1px solid #e6e6e6;height:40px}.flatpickr-calendar.noCalendar.hasTime .flatpickr-time{height:auto}.flatpickr-calendar:after,.flatpickr-calendar:before{border:solid transparent;content:"";display:block;height:0;left:22px;pointer-events:none;position:absolute;width:0}.flatpickr-calendar.arrowRight:after,.flatpickr-calendar.arrowRight:before,.flatpickr-calendar.rightMost:after,.flatpickr-calendar.rightMost:before{left:auto;right:22px}.flatpickr-calendar.arrowCenter:after,.flatpickr-calendar.arrowCenter:before{left:50%;right:50%}.flatpickr-calendar:before{border-width:5px;margin:0 -5px}.flatpickr-calendar:after{border-width:4px;margin:0 -4px}.flatpickr-calendar.arrowTop:after,.flatpickr-calendar.arrowTop:before{bottom:100%}.flatpickr-calendar.arrowTop:before{border-bottom-color:#e6e6e6}.flatpickr-calendar.arrowTop:after{border-bottom-color:#fff}.flatpickr-calendar.arrowBottom:after,.flatpickr-calendar.arrowBottom:before{top:100%}.flatpickr-calendar.arrowBottom:before{border-top-color:#e6e6e6}.flatpickr-calendar.arrowBottom:after{border-top-color:#fff}.flatpickr-calendar:focus{outline:0}.flatpickr-wrapper{display:inline-block;position:relative}.flatpickr-months{display:flex}.flatpickr-months .flatpickr-month{background:transparent;flex:1;line-height:1;overflow:hidden;position:relative;text-align:center}.flatpickr-months .flatpickr-month,.flatpickr-months .flatpickr-next-month,.flatpickr-months .flatpickr-prev-month{fill:rgba(0,0,0,.9);color:rgba(0,0,0,.9);height:34px;-webkit-user-select:none;-moz-user-select:none;user-select:none}.flatpickr-months .flatpickr-next-month,.flatpickr-months .flatpickr-prev-month{cursor:pointer;padding:10px;position:absolute;text-decoration:none;top:0;z-index:3}.flatpickr-months .flatpickr-next-month.flatpickr-disabled,.flatpickr-months .flatpickr-prev-month.flatpickr-disabled{display:none}.flatpickr-months .flatpickr-next-month i,.flatpickr-months .flatpickr-prev-month i{position:relative}.flatpickr-months .flatpickr-next-month.flatpickr-prev-month,.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month{left:0}.flatpickr-months .flatpickr-next-month.flatpickr-next-month,.flatpickr-months .flatpickr-prev-month.flatpickr-next-month{right:0}.flatpickr-months .flatpickr-next-month:hover,.flatpickr-months .flatpickr-prev-month:hover{color:#959ea9}.flatpickr-months .flatpickr-next-month:hover svg,.flatpickr-months .flatpickr-prev-month:hover svg{fill:#f64747}.flatpickr-months .flatpickr-next-month svg,.flatpickr-months .flatpickr-prev-month svg{height:14px;width:14px}.flatpickr-months .flatpickr-next-month svg path,.flatpickr-months .flatpickr-prev-month svg path{fill:inherit;transition:fill .1s}.numInputWrapper{height:auto;position:relative}.numInputWrapper input,.numInputWrapper span{display:inline-block}.numInputWrapper input{width:100%}.numInputWrapper input::-ms-clear{display:none}.numInputWrapper input::-webkit-inner-spin-button,.numInputWrapper input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}.numInputWrapper span{border:1px solid rgba(57,57,57,.15);box-sizing:border-box;cursor:pointer;height:50%;line-height:50%;opacity:0;padding:0 4px 0 2px;position:absolute;right:0;width:14px}.numInputWrapper span:hover{background:rgba(0,0,0,.1)}.numInputWrapper span:active{background:rgba(0,0,0,.2)}.numInputWrapper span:after{content:"";display:block;position:absolute}.numInputWrapper span.arrowUp{border-bottom:0;top:0}.numInputWrapper span.arrowUp:after{border-bottom:4px solid rgba(57,57,57,.6);border-left:4px solid transparent;border-right:4px solid transparent;top:26%}.numInputWrapper span.arrowDown{top:50%}.numInputWrapper span.arrowDown:after{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid rgba(57,57,57,.6);top:40%}.numInputWrapper span svg{height:auto;width:inherit}.numInputWrapper span svg path{fill:rgba(0,0,0,.5)}.numInputWrapper:hover{background:rgba(0,0,0,.05)}.numInputWrapper:hover span{opacity:1}.flatpickr-current-month{color:inherit;display:inline-block;font-size:135%;font-weight:300;height:34px;left:12.5%;line-height:inherit;line-height:1;padding:7.48px 0 0;position:absolute;text-align:center;transform:translateZ(0);width:75%}.flatpickr-current-month span.cur-month{color:inherit;display:inline-block;font-family:inherit;font-weight:700;margin-left:.5ch;padding:0}.flatpickr-current-month span.cur-month:hover{background:rgba(0,0,0,.05)}.flatpickr-current-month .numInputWrapper{display:inline-block;width:6ch;width:7ch\0}.flatpickr-current-month .numInputWrapper span.arrowUp:after{border-bottom-color:rgba(0,0,0,.9)}.flatpickr-current-month .numInputWrapper span.arrowDown:after{border-top-color:rgba(0,0,0,.9)}.flatpickr-current-month input.cur-year{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;background:transparent;border:0;border-radius:0;box-sizing:border-box;color:inherit;cursor:text;display:inline-block;font-family:inherit;font-size:inherit;font-weight:300;height:auto;line-height:inherit;margin:0;padding:0 0 0 .5ch;vertical-align:initial}.flatpickr-current-month input.cur-year:focus{outline:0}.flatpickr-current-month input.cur-year[disabled],.flatpickr-current-month input.cur-year[disabled]:hover{background:transparent;color:rgba(0,0,0,.5);font-size:100%;pointer-events:none}.flatpickr-current-month .flatpickr-monthDropdown-months{appearance:menulist;-webkit-appearance:menulist;-moz-appearance:menulist;background:transparent;border:none;border-radius:0;box-sizing:border-box;-webkit-box-sizing:border-box;color:inherit;cursor:pointer;font-family:inherit;font-size:inherit;font-weight:300;height:auto;line-height:inherit;margin:-1px 0 0;outline:none;padding:0 0 0 .5ch;position:relative;vertical-align:initial;width:auto}.flatpickr-current-month .flatpickr-monthDropdown-months:active,.flatpickr-current-month .flatpickr-monthDropdown-months:focus{outline:none}.flatpickr-current-month .flatpickr-monthDropdown-months:hover{background:#f6f2f2;}.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month{background-color:transparent;outline:none;padding:0}.flatpickr-weekdays{align-items:center;background:transparent;display:flex;height:28px;overflow:hidden;text-align:center;width:100%}.flatpickr-weekdays .flatpickr-weekdaycontainer{display:flex;flex:1}span.flatpickr-weekday{background:transparent;color:#2B2B28!important;cursor:default;display:block;flex:1;font-size:90%;font-weight:bolder;line-height:1;margin:0;text-align:center}.dayContainer,.flatpickr-weeks{padding:1px 0 0}.flatpickr-days{align-items:flex-start;display:flex;overflow:hidden;position:relative;width:307.875px}.flatpickr-days:focus{outline:0}.dayContainer{box-sizing:border-box;display:inline-block;display:flex;flex-wrap:wrap;-ms-flex-wrap:wrap;justify-content:space-around;max-width:307.875px;min-width:307.875px;opacity:1;outline:0;padding:0;text-align:left;transform:translateZ(0);width:307.875px}.dayContainer+.dayContainer{box-shadow:-1px 0 0 #e6e6e6}.flatpickr-day{background:none;border:1px solid transparent;border-radius:150px;box-sizing:border-box;color:#2b2b2b!important;cursor:pointer;display:inline-block;flex-basis:14.2857143%;font-weight:400;height:39px;justify-content:center;line-height:39px;margin:0;max-width:39px;position:relative;text-align:center;width:14.2857143%}.flatpickr-day.inRange,.flatpickr-day.nextMonthDay.inRange,.flatpickr-day.nextMonthDay.today.inRange,.flatpickr-day.nextMonthDay:focus,.flatpickr-day.nextMonthDay:hover,.flatpickr-day.prevMonthDay.inRange,.flatpickr-day.prevMonthDay.today.inRange,.flatpickr-day.prevMonthDay:focus,.flatpickr-day.prevMonthDay:hover,.flatpickr-day.today.inRange,.flatpickr-day:focus,.flatpickr-day:hover{background:#EBE3E3;border-color:#EBE3E3;cursor:pointer;outline:0}.flatpickr-day.today{border-color:#959ea9}.flatpickr-day.today:focus,.flatpickr-day.today:hover{background:#959ea9;border-color:#959ea9;color:#fff}.flatpickr-day.endRange,.flatpickr-day.endRange.inRange,.flatpickr-day.endRange.nextMonthDay,.flatpickr-day.endRange.prevMonthDay,.flatpickr-day.endRange:focus,.flatpickr-day.endRange:hover,.flatpickr-day.selected,.flatpickr-day.selected.inRange,.flatpickr-day.selected.nextMonthDay,.flatpickr-day.selected.prevMonthDay,.flatpickr-day.selected:focus,.flatpickr-day.selected:hover,.flatpickr-day.startRange,.flatpickr-day.startRange.inRange,.flatpickr-day.startRange.nextMonthDay,.flatpickr-day.startRange.prevMonthDay,.flatpickr-day.startRange:focus,.flatpickr-day.startRange:hover{background:#d6c5c5;border-color:#d6c5c5;box-shadow:none;color:#fff}.flatpickr-day.endRange.startRange,.flatpickr-day.selected.startRange,.flatpickr-day.startRange.startRange{border-radius:50px 0 0 50px}.flatpickr-day.endRange.endRange,.flatpickr-day.selected.endRange,.flatpickr-day.startRange.endRange{border-radius:0 50px 50px 0}.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)),.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)){box-shadow:-10px 0 0 #569ff7}.flatpickr-day.endRange.startRange.endRange,.flatpickr-day.selected.startRange.endRange,.flatpickr-day.startRange.startRange.endRange{border-radius:50px}.flatpickr-day.inRange{border-radius:0;box-shadow:-5px 0 0 #e6e6e6,5px 0 0 #e6e6e6}.flatpickr-day.flatpickr-disabled,.flatpickr-day.flatpickr-disabled:hover,.flatpickr-day.nextMonthDay,.flatpickr-day.notAllowed,.flatpickr-day.notAllowed.nextMonthDay,.flatpickr-day.notAllowed.prevMonthDay,.flatpickr-day.prevMonthDay{background:transparent;border-color:transparent;color:#A3AED0!important;cursor:default}.flatpickr-day.flatpickr-disabled,.flatpickr-day.flatpickr-disabled:hover{color:rgba(57,57,57,.1);cursor:not-allowed}.flatpickr-day.week.selected{border-radius:0;box-shadow:-5px 0 0 #569ff7,5px 0 0 #569ff7}.flatpickr-day.hidden{visibility:hidden}.rangeMode .flatpickr-day{margin-top:1px}.flatpickr-weekwrapper{float:left}.flatpickr-weekwrapper .flatpickr-weeks{box-shadow:1px 0 0 #e6e6e6;padding:0 12px}.flatpickr-weekwrapper .flatpickr-weekday{float:none;line-height:28px;width:100%}.flatpickr-weekwrapper span.flatpickr-day,.flatpickr-weekwrapper span.flatpickr-day:hover{background:transparent;border:none;color:rgba(57,57,57,.3);cursor:default;display:block;max-width:none;width:100%}.flatpickr-innerContainer{box-sizing:border-box;display:block;display:flex;overflow:hidden}.flatpickr-rContainer{box-sizing:border-box;display:inline-block;padding:0}.flatpickr-time{box-sizing:border-box;display:block;display:flex;height:0;line-height:40px;max-height:40px;outline:0;overflow:hidden;text-align:center}.flatpickr-time:after{clear:both;content:"";display:table}.flatpickr-time .numInputWrapper{flex:1;float:left;height:40px;width:40%}.flatpickr-time .numInputWrapper span.arrowUp:after{border-bottom-color:#393939}.flatpickr-time .numInputWrapper span.arrowDown:after{border-top-color:#393939}.flatpickr-time.hasSeconds .numInputWrapper{width:26%}.flatpickr-time.time24hr .numInputWrapper{width:49%}.flatpickr-time input{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;background:transparent;border:0;border-radius:0;box-shadow:none;box-sizing:border-box;color:#393939;font-size:14px;height:inherit;line-height:inherit;margin:0;padding:0;position:relative;text-align:center}.flatpickr-time input.flatpickr-hour{font-weight:700}.flatpickr-time input.flatpickr-minute,.flatpickr-time input.flatpickr-second{font-weight:400}.flatpickr-time input:focus{border:0;outline:0}.flatpickr-time .flatpickr-am-pm,.flatpickr-time .flatpickr-time-separator{align-self:center;color:#393939;float:left;font-weight:700;height:inherit;line-height:inherit;-webkit-user-select:none;-moz-user-select:none;user-select:none;width:2%}.flatpickr-time .flatpickr-am-pm{cursor:pointer;font-weight:400;outline:0;text-align:center;width:18%}.flatpickr-time .flatpickr-am-pm:focus,.flatpickr-time .flatpickr-am-pm:hover,.flatpickr-time input:focus,.flatpickr-time input:hover{background:#eee}.flatpickr-input[readonly]{cursor:pointer}@keyframes fpFadeInDown{0%{opacity:0;transform:translate3d(0,-20px,0)}to{opacity:1;transform:translateZ(0)}}.flatpickr-calendar.inline{background:transparent;box-shadow:none;width:100%}.flatpickr-calendar.inline .flatpickr-days{width:100%}.flatpickr-calendar.inline .dayContainer{max-width:100%;min-width:100%;width:100%}.flatpickr-calendar.inline .flatpickr-day{border-radius:.2rem;height:45px;line-height:45px;max-width:inherit}.flatpickr-calendar.inline .flatpickr-day.today{border:0}.flatpickr-calendar.inline .flatpickr-day.today:before{border-color:rgba(0,0,0,.2) transparent #9a7171;border-style:solid;border-width:0 0 7px 7px;bottom:4px;content:"";display:inline-block;position:absolute;right:4px}.flatpickr-calendar.inline .flatpickr-day.today.selected:before{border-color:rgba(0,0,0,.2) transparent #fff}.flatpickr-calendar.inline .flatpickr-day.today:hover{background:#e6e6e6;color:#000}.flatpickr-calendar.inline .flatpickr-day.selected,.flatpickr-calendar.inline .flatpickr-day.selected:focus,.flatpickr-calendar.inline .flatpickr-day.selected:hover{background:#cbb6b6;border-radius:.2rem;color:#fff}.flatpickr-calendar.inline .flatpickr-weekdays{height:45px}.flatpickr-calendar.inline .flatpickr-weekday{height:45px;line-height:45px}.flatpickr-calendar.inline .flatpickr-months .flatpickr-month,.flatpickr-calendar.inline .flatpickr-months .flatpickr-next-month,.flatpickr-calendar.inline .flatpickr-months .flatpickr-prev-month{height:45px}.flatpickr-calendar.inline .flatpickr-current-month{height:45px;line-height:45px;padding-top:0}.flatpickr-calendar.inline .flatpickr-current-month .flatpickr-monthDropdown-months{-webkit-appearance:none;-moz-appearance:none;appearance:none}.flatpickr-calendar.inline .flatpickr-current-month .flatpickr-monthDropdown-months,.flatpickr-calendar.inline .flatpickr-current-month input.cur-year{font-size:1.09375rem;font-weight:400}.flatpickr-calendar.inline .flatpickr-next-month,.flatpickr-calendar.inline .flatpickr-prev-month{border-radius:.2rem;width:45px}.flatpickr-calendar.inline .flatpickr-next-month:hover,.flatpickr-calendar.inline .flatpickr-prev-month:hover{background:#EBE3E3;color:#000}.simplebar-scrollbar:before{background:#fff}.simplebar-content{display:flex;flex-direction:column;height:100vh;padding-bottom:0!important}[data-simplebar]{left:0;position:-webkit-sticky;position:sticky;top:0;width:260px}
/* CSS Kalender End */